body {
  padding: 0;
   margin: auto;
  max-width:1920px;
   font-family:Apercu;}

.aj-navbar {
  height: 60px;
  background-color: #ffffff;
    border: 0;
    margin-bottom: 0;
    z-index: 4;
    position: fixed;
    width: 100%;
    border-radius: 0;}
  .aj-navbar .navbar-brand {
    margin-top: 0px;
    margin-left: 20% !important; }
  .aj-navbar .aj-nav li a {
    background-color: transparent !important;
    padding-top: 25px;
    padding-left: 30px; }
    .aj-navbar .aj-nav .active a{
        color: #2b42a1;
    }

.aj-container-fluid {
  padding-left: 10%;
  padding-right: 10%; }
  @media(max-width:767px){
    .aj-navbar .navbar-brand {
      margin-top: 8px;
    margin-left: 15px !important;
    padding:0 !important;
    }
    .aj-navbar {
  height: auto;
  }
  .navbar-toggle{
        padding: 12px 10px !important;
  }
}

.vp-footer {
  background-color: #f8f8f8;
  min-height: 400px;
  padding-top: 120px; }
  .vp-footer .brand-name {
    color: #2b42a1;
    font-size: 24px;
    vertical-align: middle;
    font-weight: bold; }
  .vp-footer p i.glyphicon {
    color: #2b42a1;
    margin-right: 5px; }

.copyright {
  background: #2b42a1;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
   text-align: center; }

.vp-1 {
    position: relative;
    min-height: 800px;
    top: 60px;
    margin-bottom: 60px; }
  .vp-1 .vp-1-div {
    background-color: #2b42a1;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    //width: 660px;
    width:50%;
    height: 75%;
    padding: 75px 20px 0 120px;
    color: #ffffff; }
    .vp-1 .vp-1-div h1.title {
      font-size: 54px;
      font-weight: bold; }
    .vp-1 .vp-1-div p.desc {
      margin-top: 10%;
      margin-right: 10%;
      font-size: 20px; }
  .vp-1 .img-div {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width:66%;}
   .vp-1 .img-div img {
     height: fit-content;
         width: 100%;
     }
@media(max-width:910px){
    .vp-1 .vp-1-div h1.title {
      font-size: 24px;}
    .vp-1 .vp-1-div p.desc {
      font-size: 14px; }
}
@media(max-width:767px){
    .web-banner{
        display:none;
    }
    .res-banner{
        display:block !important;
    }
    .banner-text{
        background-color: #2b42a1;
        padding:10%;
        color: #ffffff;
    }
   .banner-text .title{
        font-size: 24px;
        font-weight: bold;
        text-align: left;
   }
   .banner-text .desc{
        font-size: 14px;
        text-align: left;
   }
   .vp-1 {
  min-height: 500px; }
  .aj-container-fluid {
      padding-left: 0;
      padding-right: 0;
   }
}


.vp-2 {
  min-height: 800px;
  padding-top: 40px;
  position: relative; }
  .vp-2 img{
    width:64%;
  }
  .vp-2 .vp-2-text-div {
    background-color: #2b42a1;
   width: 40%;
    height: 53%;
    padding: 50px 0 0 50px;
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 50%; }
    .vp-2 .vp-2-text-div h2 {
      font-size: 38px;
      font-weight:bold;
      margin-bottom: 20px;
    }
    .vp-2 .vp-2-text-div p.vp-2-text {
      width: 473px;
      height: 224px;
      font-size: 20px; }
@media(max-width:910px){
    .vp-2 .vp-2-text-div h2 {
      font-size: 24px;}
    .vp-2 .vp-2-text-div p.vp-2-text {
      width: 100%;
      height: 224px;
      font-size: 14px; }
    .vp-2 img {
        height:fit-content;
    }
}
.vp-3 {
  min-height: 950px;
  display: flex;
  align-items: center; }
  .vp-3 .vp-3-div-1 {
    color: #000000; }
    .vp-3 .vp-3-div-1 h3 {
          height: 20%;
          line-height: 1.19;
      font-size: 54px;
      font-weight: bold;
       margin-bottom:22px;}
    .vp-3 .vp-3-div-1 p {
      width: 483px;
      height: 196px;
      opacity: 0.6;
      font-size: 20px;
      color: #000000; }
  .vp-3 .vp-3-div-2 .box {
    width: 184px;
    height: 235px;
    background-color: #f4f6fc;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 23px; }
    .vp-3 .vp-3-div-2 .box .number {
      font-size: 86px;
      font-weight: bold;
      color: #2b42a1; }
    .vp-3 .vp-3-div-2 .box .title {
      color: #919dcf;
      font-size: 20px; }
@media(max-width:910px){
    .vp-3 .vp-3-div-1 h3 {
    font-size: 38px;}
    .vp-3 .vp-3-div-1 p {
    width: 100%;
    font-size: 14px;
    }
    .vp-3 .vp-3-div-2 .box {
    width: 130px;
    height: 180px;
    }
    .vp-3 .vp-3-div-2 .box .number {
    font-size: 56px;
    }
    .vp-3 .vp-3-div-2 .box .title {
    font-size: 14px;
    }
}

@media(max-width:767px){
    .vp-3-div-1 h3{
        font-size:24px !important;
        text-align:left !important;
        width:100% !important;
        height:auto !important;
    }
    .vp-3-div-1 p{
        font-size:14px !important;
        text-align:left !important;
        width:100% !important;
        height:auto !important;
    }
    .vp-3 .vp-3-div-1 {
        padding: 10% !important;}
    .vp-3 .vp-3-div-2 {
        padding: 10% !important;}
    .vp-3 .vp-3-div-2 .box {
    width: 30%;
    height: 115px;
    background-color: #f4f6fc;
    float: left;
    margin-bottom: 10px;
    padding: 15px;
    margin-right: 3%;
    margin-left: 0
    }
    .vp-3 .vp-3-div-2 .box .number {
    font-size: 24px;
    }
    .vp-3 .vp-3-div-2 .box .title {
    font-size: 14px;
    }
}
.vp-4 {
  background-color: #2b42a1;
  text-align: center;
  min-height: 800px;}
  .vp-4 .we-shape {
    color: #ffffff;
    padding: 50px 17% 100px; }
    .vp-4 .we-shape h3 {
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 25px;}
    .vp-4 .we-shape p {
      opacity: 0.6;
      font-size: 20px; }
     .vp-4 .value-div-div {
      padding-right: 40px;
    padding-left: 40px;
    }
  .vp-4 .value-div {
    background-color: #ffffff;
        padding: 65px 10%;
        height: 410px; }
    .vp-4 .value-div h4 {
      color: #2b42a1;
      font-size: 22px;
      font-weight: bold;
           margin-bottom: 13px;}
    .vp-4 .value-div .imgc img {
      width: 70px;
      border: 14px solid #fff;
      border-radius: 40px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translate(-50%);
      background: #fff; }
    .vp-4 .value-div p {
      opacity: 0.5;
      font-family: Apercu;
      font-size: 20px;
      color: #000000; }
@media(max-width:910px){
    .vp-4 {
    min-height: 850px;}
    .vp-4 .value-div {
    height: 350px;
    }
    .vp-4 .value-div p {
    font-size: 14px;
    }
}
@media(max-width:767px)
{
   .vp-4{
    padding:0 10% !important;
   }
   .vp-4 .we-shape {
    padding: 50px 0 100px;
    }
  .vp-4 .we-shape h3 {
    font-size: 24px;
  }
  .vp-4 .we-shape p {
    font-size: 14px;
  }
  .vp-4 .value-div h4 {
    font-size: 24px;
  }
  .vp-4 .value-div p {
    font-size: 14px;
  }
  .vp-4 .value-div {
    margin-bottom: 55px;}
}

.vp-5 {
  min-height: 850px;
   text-align:center;
   margin-bottom:100px;}
  .vp-5 .we-offer {
    padding: 50px 17% 100px; }
  .vp-5 .row .we-offer h3 {
      font-size: 38px;
      font-weight: bold;
           margin-bottom: 25px;}
  .vp-5 .row .we-offer p {
      opacity: 0.5;
      font-size: 20px; }
  .vp-5 .services-div{
    padding:0 7%;
    text-align:center;
  }
  .vp-5 .service-block{
    border: solid 1px #e0dcdc;
    margin:0 40px 40px 0;
    height: 280px;
    width: 30%;
    padding:0;
  }
  .vp-5 .service-block img {
    height: 75%;
    width: -webkit-fill-available;

  }
  .vp-5 .service-block h3{
    font-size:20px;
    font-weight:bold;
  }
  .vp-5 .link-div a{
    background-color: #2b42a1;
    color: #ffffff;
    padding:20px 95px;
    font-weight:bold;
    font-size: 20px;
  }
  .vp-5 .link-div{
    padding-top: 50px;
  }
  .vp-5 .link-div a:hover{
    text-decoration:none;
  }
@media(max-width:910px){
    .vp-5 .service-block{
    width: 28%;
    }
    .vp-5 .service-block h3{
    font-size:14px;
    }
}
@media(max-width:767px)
{
    .vp-5 {
    margin-bottom: 40px;
    }
    .vp-5 .we-offer {
    padding: 10% !important;
    }
    .vp-5 .row .we-offer h3 {
    font-size: 24px;
    }
    .vp-5 .row .we-offer p {
    font-size: 14px;
    }
    .vp-5 .service-block {
    width: 100%;
    }
    .vp-5 .link-div {
        padding: 0;
    }
    .vp-5 .link-div a {
    padding: 20px 50px;
    font-size: 14px;
    }
}

.vp-56{
    background-color: #f5f6f8;
    min-height: 850px;
}
    .vp-56 .vp-56-div{
        padding-left:120px;
    padding-top: 200px;
    }
    .vp-56 .vp-56-div h3{
        font-size: 54px;
        font-weight: bold;
    }
    .vp-56 .vp-56-div p{
        font-size: 20px;
        opacity: 0.6;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .vp-56 .vp-56-div a{
    background-color: #2b42a1;
    color: #ffffff;
    padding:20px 95px;
    font-weight:bold;
    font-size: 20px;
  }
  .vp-56 .vp-56-div a:hover{
    text-decoration:none;
  }
  .vp-56 .carousel-div{
    padding-top: 100px;
  }
  .vp-56 .carousel-div .carousel .carousel-inner {
        padding-bottom: 25px;
   }
    .vp-56 .carousel-div .carousel .carousel-inner .item .img {
      display: inline-block;
      margin: 10px;
      padding: 10px;
    position: relative;}
      .vp-56 .carousel-div .carousel .carousel-inner .item .img img {
        width: 100%;
        height: 540px; }
        .vp-56 .carousel-div .carousel .carousel-inner .item .img .row{
            width: 94%;
            height: 90px;
            padding: 10px 50px;
            position: absolute;
            bottom: 10px;
            backdrop-filter: blur(10px);
        }
      .vp-56 .carousel-div .carousel .carousel-inner .item .img .row p {
        font-size: 32px;
        font-weight: 500;
        color: #ffffff;
        margin-top: 10px;
        font-weight:bold;
        }
    .vp-56 .carousel-div .carousel .carousel-control {
      top: auto;
      background: white;
      color: black;
      border: 1px solid #a9a1a1;
      border-radius: 65px;
      width: 30px;
      height: 30px;
      font-size: 18px; }
      .vp-56 .carousel-div .carousel .carousel-control.right {
        right: auto;
        left: 70px;
        bottom: -20px; }
      .vp-56 .carousel-div .carousel .carousel-control.left {
        left: 18px;
        bottom: -20px;}
@media(max-width:910px){
    .vp-56 {
    min-height: 800px;
    }
    .vp-56 .vp-56-div {
        padding-left: 10%;
    }
    .vp-56 .vp-56-div h3 {
    font-size: 28px;
    }
    .vp-56 .vp-56-div p {
    font-size: 14px;
    }
    .vp-56 .vp-56-div a {
    padding: 20px 38px;
    font-size: 14px;
    }
    .vp-56 .carousel-div .carousel .carousel-inner .item .img img {
    width: 190px;
    height: 500px;
    }
    .vp-56 .carousel-div .carousel .carousel-inner .item .img .row {
    width: 91%;
    height: 70px;
    }
    .vp-56 .carousel-div .carousel .carousel-inner .item .img .row p {
    font-size: 16px;
    }

}
@media(max-width:767px){
.vp-56 {
    min-height: 550px;}
    .vp-56 .vp-56-div {
        padding: 10%;
        text-align: center;}
    .vp-56 .vp-56-div h3 {
        font-size: 24px;}
    .vp-56 .vp-56-div p {
        font-size: 14px;
        margin-top: 0;}
    .vp-56 .vp-56-div a {
        padding: 20px 50px;
        font-size: 14px;}
    .vp-56 .carousel-div {
        padding-top: 20px !important;
        padding: 10%;}
    .vp-56 .carousel-div .carousel .carousel-inner .item .img {
        margin: 2px;
        padding: 0;
        width: 47%;}
    .vp-56 .carousel-div .carousel .carousel-inner .item .img img {
     width: 100%;
    height: 160px;}
    .vp-56 .carousel-div .carousel .carousel-inner .item .img .row {
        width: 100%;
        height: 25%;
        padding: 0 10px;
        position: absolute;
        bottom: 0;}
    .vp-56 .carousel-div .carousel .carousel-inner .item .img .row p {
        font-size: 14px;}
    .vp-56 .carousel-div .carousel .carousel-control.left {
        left: 25%;
        bottom: -20px;
    }
    .vp-56 .carousel-div .carousel .carousel-control.right {
        right: 25%;
        left: auto;
        bottom: -20px;
    }

}



.vp-6 {
  min-height: 800px;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 10px; }
  .vp-6 .gallery {
    color: #000000;
    padding: 50px 17% 100px;
    text-align: center;}
    .vp-6 .gallery h3 {
      font-size: 38px;
      font-weight: bold;
           margin-bottom: 25px;}
    .vp-6 .gallery p {
      opacity: 0.5;
      font-size: 20px; }
  .vp-6 .gallery-div img {
    width: 100%; }
@media(max-width:767px){
    .vp-6 .gallery {
        padding: 10%;
    }
    .vp-6 .gallery h3 {
        font-size: 24px;}
    .vp-6 .gallery p{
        font-size: 14px;}
}
/*# sourceMappingURL=index.css.map */
