body {
  padding: 0;
  max-width:1920px;
  margin:auto;
  font-family: Apercu;}

.aj-navbar {
  height: 60px;
  background-color: #ffffff;
    border: 0;
    margin-bottom: 0;
    z-index: 4;
    position: fixed;
    width: 100%;
    border-radius: 0;}
  .aj-navbar .navbar-brand {
    margin-top: 0px;
    margin-left: 20% !important; }
  .aj-navbar .aj-nav li a {
    background-color: transparent !important;
    padding-top: 25px;
    padding-left: 30px; }
    .aj-navbar .aj-nav .active a{
        color: #2b42a1;
    }
.aj-container-fluid {
  padding-left: 10%;
  padding-right: 10%; }

@media(max-width:767px){
    .aj-navbar .navbar-brand {
      margin-top: 8px;
    margin-left: 15px !important;
    padding:0 !important;
    }
    .aj-navbar {
  height: auto;
  }
  .navbar-toggle{
        padding: 12px 10px !important;
  }
}
.vp-footer {
  background-color: #f8f8f8;
  min-height: 400px;
  padding-top: 120px; }
  .vp-footer .brand-name {
    color: #2b42a1;
    font-size: 24px;
    vertical-align: middle;
    font-weight: bold; }
  .vp-footer p i.glyphicon {
    color: #2b42a1;
    margin-right: 5px; }

.copyright {
  background: #2b42a1;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
   text-align:center;}


.vp-1 {
    position: relative;
    min-height: 867px;
    top: 60px;
    margin-bottom: 60px; }
  .vp-1 .vp-1-div {
    position: absolute;
    background-color: #2b42a1;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 610px;
    height: 270px;
    padding: 75px 80px 0 120px;
    color: #ffffff; }
    .vp-1 .vp-1-div h1.title {
      font-size: 54px;
      font-weight: bold;
      }
  .vp-1 .img-div {
    /* text-align: right;*/
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
     width:100%;}
   .vp-1 .img-div img {
     height: fit-content;
         width: inherit;
     }
@media(max-width:910px){
    .vp-1 .vp-1-div {
    width: 55%;
    height: 25%;
    padding: 5% 8%;}
    .vp-1 .vp-1-div h1.title {
      font-size: 38px;
      }
}
@media(max-width:767px){
    .vp-1 {
    min-height: 370px;
    }
    .vp-1 .vp-1-div {
    width: 100%;
    padding: 10% 40% 10% 10%;
    height: auto;
    }
    .vp-1 .vp-1-div h1.title {
    font-size: 38px;
    }
    .vp-1 .img-div {
    position: absolute;
    top: 0;
    right: 0;}
    .vp-1 .img-div img {
    height: auto;
    }
}

.vp-2{
    }
  .bg-grey-section{
    padding-top:80px;
    padding-bottom:80px;
    background-color: #f8f8f8;
  }
  .section-heading{
    font-size: 38px;
    text-align:center;
    font-weight:bold;
  }
  .section-desc{
    font-size: 20px;
    text-align:center;
    padding:20px 220px;
    color:#000000;
    opacity: 0.5;
  }
@media(max-width:910px){
     .section-desc{
    font-size: 14px;
     padding:20px 15%;}

}
@media(max-width:767px){
    .vp-2 .section-desc {
    font-size: 14px;
    padding: 0 10%;
    }
    .vp-2 .bg-grey-section {
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .vp-2 .section-heading {
    font-size: 24px;
    }
}
.vp-3 {
  position: relative;
  min-height: 850px;
  padding-top:80px;
  margin-left: 120px;}
  .vp-3 .vp-3-div {
    margin-top:10%;
    background-color: #2b42a1;
    position: absolute;
    z-index: 2;
    left: 0;
    width: 50%;
    height: 540px;
    padding: 90px 0 0 40px;
    color: #ffffff; }
    .vp-3 .vp-3-div h1.title {
      font-size: 38px;
      font-weight: bold;
       padding: 0px 50% 0 0;}
    .vp-3 .vp-3-div p.desc {
      margin-right: 7%;
      margin-top: 5%;
      font-size: 20px; }
  .vp-3 .img-div {
    text-align: right;
    position: absolute;
    right: 0;
    z-index: 1;
     width: 55%;}
   .vp-3 .img-div img {
       width:100%;
       height: fit-content;

       }
@media(max-width:910px){
    .vp-3 .vp-3-div h1.title {
      font-size: 24px;}
    .vp-3 .vp-3-div p.desc {
      font-size: 14px; }

}

.vp-4 {
  position: relative;
  min-height: 825px;
  padding-top: 80px; }
  .vp-4 .vp-4-div {
    position: absolute;
    margin-top: 5%;
    z-index: 2;
    right: 0;
        width: 40%;
    // width: 600px;
    min-height: 500px;
    padding: 75px 10% 0 0px;
     text-align: right}
    .vp-4 .vp-4-div h1.title {
      font-size: 38px;
      font-weight: bold;
      }
      .vp-4 .vp-4-div p.desc {
      margin-top: 10%;
      margin-left: 10%;
      font-size: 20px;
       opacity: 0.6;}

  .vp-4 .img-div {
    /* text-align: right;*/
    position: absolute;
    left:0;
    z-index: 1;
    width: 55%;}
     .vp-4 .img-div img {
       width:100%;
       height: fit-content;
       }

@media(max-width:910px){
    .vp-4 .vp-4-div p.desc {
      margin-top: 10%;
      margin-left: 10%;
      font-size: 14px;
}
.vp-4 .vp-4-div h1.title {
      font-size: 24px;
}
}
/*Responsive div CSS*/
@media(max-width:767px){
    .gallery-div{
    display:none;
  }
  .res-div{
    display:block !important;
  }
}
.res-div{
    display:none;
  }
  .vp-3-res{
    margin: 0 0 20px;
  }
  .vp-3-div-res{
    background-color: #2b42a1;
    padding: 10%;
    color: #ffffff;
  }
  .vp-3-div-res h1{
    font-size: 24px;
  }
  .vp-3-res .img-div-res{
    padding:0;
  }

  .vp-4-div-res{
    padding: 10%;
  }
  .vp-4-div-res h1.title {
      font-size: 24px;
      font-weight: bold;
  }
  .vp-4-div-res p.desc {
      margin-top: 10%;
      font-size: 14px;
       opacity: 0.6;
  }
  .vp-4-res .img-div-res{
    padding:0;
  }


