body {
  padding: 0;
   margin: auto;
   max-width:1920px;
    font-family: Apercu;}

.aj-navbar {
  height: 60px;
  background-color: #ffffff;
    border: 0;
    margin-bottom: 0;
    z-index: 4;
    position: fixed;
    width: 100%;
    border-radius: 0;}
  .aj-navbar .navbar-brand {
    margin-top: 0px;
    margin-left: 20% !important; }
  .aj-navbar .aj-nav li a {
    background-color: transparent !important;
    padding-top: 25px;
    padding-left: 30px; }
    .aj-navbar .aj-nav .active a{
        color: #2b42a1;
    }
@media(max-width:767px){
    .aj-navbar .navbar-brand {
      margin-top: 8px;
    margin-left: 15px !important;
    padding:0 !important;
    }
    .aj-navbar {
  height: auto;
  }
  .navbar-toggle{
        padding: 12px 10px !important;
  }
}
.aj-container-fluid {
  padding-left: 10%;
  padding-right: 10%; }

.vp-footer {
  background-color: #f8f8f8;
  min-height: 400px;
  padding-top: 120px; }
  .vp-footer .brand-name {
    color: #2b42a1;
    font-size: 24px;
    vertical-align: middle;
    font-weight: bold; }
  .vp-footer p i.glyphicon {
    color: #2b42a1;
    margin-right: 5px; }

.copyright {
  background: #2b42a1;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
   text-align:center;}


.vp-1 {
  position: relative;
    min-height: 867px;
    top: 60px;
    margin-bottom: 60px;}
  .vp-1 .vp-1-div {
    position: absolute;
    background-color: #2b42a1;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 586px;
    height: 270px;
    padding: 75px 0 0 120px;
    color: #ffffff; }
    .vp-1 .vp-1-div h1.title {
      font-size: 54px;
      font-weight: bold;
      }
  .vp-1 .img-div {
    /* text-align: right;*/
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
    width:100%;}
   .vp-1 .img-div img {
     height: fit-content;
         width: inherit;
     }
@media(max-width:767px){
    .vp-1 .img-div img {
     height: auto;
         width:auto;
     }
     .vp-1 .img-div {
    position: absolute;
    top: 0;
    right:0;}
    .vp-1 .vp-1-div h1.title {
      font-size: 38px;
      }
    .vp-1 {
  position: relative;
  min-height: 410px; }
  .vp-1 .vp-1-div {
    width: auto;
    height:auto;
    padding:10%; }
}
.vp-2{
    }
  .bg-grey-section{
    padding-top:80px;
    padding-bottom:80px;
    background-color: #f8f8f8;
  }
  .section-heading{
    font-size: 38px;
    text-align:center;
    font-weight:bold;
  }
  .section-desc{
    font-size: 20px;
    text-align:center;
    padding:20px 220px;
    color:#000000;
    opacity: 0.5;
  }
@media(max-width:910px){
    .vp-2 .section-desc{
    font-size: 14px;
     padding:20px 15%;}

}
@media(max-width:767px){
  .vp-2{
    padding-top:0px;
    padding-bottom:0px;
  }
  .section-heading{
    font-size: 24px;
  }
  .vp-2 .section-desc{
    font-size: 14px;
     padding:10%;}
  .bg-grey-section {
    padding-top: 40px;
    padding-bottom: 40px;}
}
.res-content{
        display:none;
    }
.vp-3 {
  position: relative;
  min-height: 870px;
  padding-top: 120px; }
  .vp-3 .vp-3-grey-div{
    opacity: 0.8;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 3;
    left: 0;
    width: 27%;
    height: 75%;
    margin-left: 80px;
    margin-top: 5%;
  }
  .vp-3 .vp-3-div {
    position: absolute;
    background-color:transparent;
    margin-top: 5%;
    z-index: 3;
    left: 0;
   // width: 600px;
   width: 41%;
    min-height: 500px;
    padding: 75px 0 0 120px; }
    .vp-3 .vp-3-div h1.title {
      font-size: 38px;
      font-weight: bold;
    width: 90%;
      }
      .vp-3 .vp-3-div p.desc {
      margin-top: 10%;
      margin-right: 10%;
      font-size: 20px;
       opacity: 0.6;}
  .vp-3 .img-div {
    /* text-align: right;*/
    position: absolute;
    right:0;
    z-index: 1;
     width: 55%;}
   .vp-3 .img-div img {
       width:100%;
       height: fit-content;

       }
@media(max-width:910px){
    .vp-3 .vp-3-div h1.title {
      font-size: 24px;}
    .vp-3 .vp-3-div p.desc {
      font-size: 14px; }

}
@media(max-width:767px){
    .web-content{
        display:none;
    }
    .res-content{
        display:block;
    }
    .vp-3-res{
        min-height:850px;
    }
    .res-col{
        padding:0;
    }
    .vp-3-res .vp-3-div-res {
        padding:10%; }
    .vp-3-res .vp-3-div-res h1.title {
      font-size: 24px;
      font-weight: bold;
    }
      .vp-3-res .vp-3-div-res p.desc {
      margin-top: 10%;
      font-size: 14px;
       opacity: 0.6;}
}
@media (max-width: 767px){
.aj-container-fluid {
    padding-left: 0;
    padding-right: 0;
}
}